body {
    background: url(cake.jpg);
    background-size: cover;
    /* opacity: 0.5;
    z-index: -1; */
  }

.container {
    background: #fff;
    /* border: dashed; */
    /* border-color: #a0aeba; */
    border-radius: 5px;
    padding: 2.5em;
    margin: auto;
    width: 30%;
    box-shadow: 0px 0px 15px #545454;
    text-align: center;
}

h1 {
    font-family: system-ui;
    text-align:center;
    position: relative;
    top: 50px;
    margin-bottom: 3em;
    color: #7a08fa;
}

h2 {
  color: #007aff;
  text-align: left;
}

h3 {
  text-align: center;
  font-size: x-large;
}

p {
  font-family: 'Oswald', sans-serif;
  text-align:center;
  color: #A1A1A1;
}

.username, .password {
  background: #f0f0f0;
  border: none;
  font-weight: 400;
  outline: none;
  height: 23px;
  position: relative;
}

label .account {
  text-align: center;
}

button {
  border: 0;
  padding: 5px 15px;
  /* display: inline-block; */
  border-radius: 10px;
  color: #7a08fa;
  font-size: 16px;
  font-family: "Arial Narrow";
  font-weight: bold;
  background-color: #f8ecfd;
  box-shadow: 0px 7.5px #7a08fa;
}

button:hover {
  background-color: #E8E8E8;
}

button:active {
  background-color: #8993B8;
  box-shadow: 0 1px #8993B8;
  transform: translateY(6px);
  outline: none;
  transition: 100ms;
}

button:focus {
  outline: none;
}


/* Main page */
.main-page-container {
  width: 50%;
}

.feature-box {
  text-align: center;
  display: inline;
  margin: 10px 0;
}

.classroom1-btn, .classroom2-btn, .classroom3-btn, .addClassroom-btn{
  display: block;
  margin: 10px auto;
  text-align: center;
  align-items: center;
}


/* Inside Classrooms */
.card {
  margin: 30px 0px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10px;
  text-align: center;
  padding-left: 30px;
}

.outOfSeat, .talkedOutOfTurn, .staredAway, .addBehaviour {
  padding: 3px 10px;
  font-size: 12px;
  width: 75px;
  height: 75px;
  margin: 10px;
  color: #007aff;
  background-color: #F1F8FF;
  box-shadow: 0px 7.5px #007aff;
}

.addBehaviour {
  font-size: 32px;
}
